.LoginBg {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8vh 0.5rem;
}